<%- include('partials/header'); -%>

<header>
  <div class="cocktail">
    <img src="/cocktail.png" alt="" />
  </div>
  <div class="headings">
    <h2>Gusto Ödev</h2>
    <h3>By Hüseyin Erol For Everyone</h3>
    <a href="/cocktail" class="btn">Kayıtlı Kullanıcıları Gör</a>
  </div>
</header>

<%- include('partials/footer'); -%>
